
<p>add server</p>
    <div class='row'>
    <div class="col-xs-12">
        <label> Server Name</label>
        <!--two way binding-->
<!--        <input type="text" [(ngModel)]="newServerName">-->
        <!--local ref-->
        <input type="text" #frontInput>
    </div>
    <div class="col-xs-12">
        <label>Server Content</label>
        <!--<input type="text" [(ngModel)]="newServerContent" >-->
        <!--viewchild-->
        <input type="text" #serverContent >


    </div>
</div>
<br>

<div class="row">
    <div class="col-xs-15">
        <button (click)="onAddServer(frontInput)">add server</button>
        <button (click)="onAddBlueprint()"> add server content</button>
    </div>
</div>